In [1]:
import numpy as np
import pandas as pd

In [2]:
NumberAgents = 100
NumberDaysofYear = 365

In [3]:
schedule = np.zeros((NumberAgents, NumberDaysofYear))

In [8]:
schedule[:,0] = 4
schedule[:,5] = 4
schedule[:,114] = 4
schedule[:,89] = 4
schedule[:,90] = 4
schedule[:,120] = 4 #1maggio
schedule[:,151] = 4 #2giugno
schedule[:,224] = 4 #15 agosto
schedule[:,302] = 4 #1 novembre
schedule[:,339] = 4 #8dicembre
schedule[:,355] = 4 #25dicembre
schedule[:,356] = 4

In [9]:
schedule.shape

(100, 365)

In [18]:
df = pd.DataFrame(data=schedule, dtype=int)

In [19]:
df.to_csv("schedule.csv", header=False, index=False)

In [20]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,355,356,357,358,359,360,361,362,363,364
0,4,0,0,0,0,4,0,0,0,0,...,4,4,0,0,0,0,0,0,0,0
1,4,0,0,0,0,4,0,0,0,0,...,4,4,0,0,0,0,0,0,0,0
2,4,0,0,0,0,4,0,0,0,0,...,4,4,0,0,0,0,0,0,0,0
3,4,0,0,0,0,4,0,0,0,0,...,4,4,0,0,0,0,0,0,0,0
4,4,0,0,0,0,4,0,0,0,0,...,4,4,0,0,0,0,0,0,0,0